<div class="navbar navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">PXMO &mdash; Prof. X's Mutant Organizer</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Dashboard</a></li>
        <li><a href="#">Settings</a></li>
        <li><a href="#">Profile</a></li>
        <li><a href="#">Help</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="team-board-canvas">
    <div class="team-board">

      <div class="team placeholder">

        <h3 class="team-name">Phalanx</h3>
        <div class="team-members">
          <div class="team-member" title="Angel">
            <img data-src="holder.js/50x50/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
            <div class="team-member-name">Angel</div>
          </div>
          <div class="team-member" title="Beast">
            <img data-src="holder.js/50x50/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
            <div class="team-member-name">Beast</div>
          </div>
          <div class="team-member" title="Marvel">
            <img data-src="holder.js/50x50/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
            <div class="team-member-name">Marvel</div>
          </div>
          <div class="team-member" title="Cyclops">
            <img data-src="holder.js/50x50/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
            <div class="team-member-name">Cyclops</div>
          </div>
        </div> <!-- team members -->


        <h4>Tasks</h4>
        <div class="team-tasks">
          <div class="pxmo-checkbox-radio">
            <input type="checkbox" value="" id="task_1">
            <label for="task_1">Attack on Titan</label>
          </div>
          <div class="pxmo-checkbox-radio">
            <input type="checkbox" value="" id="task_2">
            <label for="task_2">Take out the trash</label>
          </div>
          <div class="pxmo-checkbox-radio">
            <input type="checkbox" value="" id="task_3">
            <label for="task_3">Boogie</label>
          </div>
          <div class="pxmo-checkbox-radio">
            <input type="checkbox" value="" id="task_4">
            <label for="task_4">Destroy the enemy</label>
          </div>
          <div class="pxmo-checkbox-radio pxmo-checkbox-radio-editable">
            <input type="checkbox" value="" id="task_new_1">
            <label for="task_new_1">
              <input type="text" placeholder="Add new task">
            </label>
          </div>
        </div>
      </div> <!-- team -->

      <div class="team placeholder">

        <h3 class="team-name">Mannite</h3>
        <div class="team-members">
          <div class="team-member" title="Mimic">
            <img data-src="holder.js/50x50/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
            <div class="team-member-name">Mimic</div>
          </div>
          <div class="team-member" title="Changeling">
            <img data-src="holder.js/50x50/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
            <div class="team-member-name">Changeling</div>
          </div>
          <div class="team-member" title="Havok">
            <img data-src="holder.js/50x50/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
            <div class="team-member-name">Havok</div>
          </div>
          <div class="team-member" title="Petra">
            <img data-src="holder.js/50x50/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
            <div class="team-member-name">Petra</div>
          </div>

        </div> <!-- team members -->

        <h4>Tasks</h4>
        <div class="team-tasks">
          <div class="pxmo-checkbox-radio">
            <input type="checkbox" value="" id="task_5">
            <label for="task_5">Organize mutant party</label>
          </div>
          <div class="pxmo-checkbox-radio">
            <input type="checkbox" value="" id="task_6">
            <label for="task_6">Invite mutants</label>
          </div>
          <div class="pxmo-checkbox-radio pxmo-checkbox-radio-editable">
            <input type="checkbox" value="" id="task_new_2">
            <label for="task_new_2">
              <input type="text" placeholder="Add new task">
            </label>
          </div>
        </div>
      </div> <!-- team -->

      <div class="team add-team">
        <a href="#add-team">Form new team</a>
      </div>

    </div> <!-- team-board -->
  </div> <!-- team-board-canvas -->

</div>
