<div class="pxmo-checkbox-radio team-task">
  <%= check_box_tag dom_id(task), task.id, task.complete?,
    'data-task-completion-url' => task_completion_url(task) %>
  <label for="<%= dom_id task %>"><%= task.description %></label>
</div>
