<div class="team-member" title="<%= mutant.name %>">
  <img src="<%= mutant.photo_url || image_url('silhouette.png') %>" width="50" class="img-responsive team-member-photo">
  <div class="team-member-name"><%= mutant.name %></div>
</div>
