<div class="team-member" title="<%= mutant.name %>">
  <img data-src="holder.js/50x50/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
  <div class="team-member-name"><%= mutant.name %></div>
</div>
